<!-- Uses a header that scrolls with the text, rather than staying
  locked at the top -->
<div className="mdl-layout mdl-js-layout">
  <header className="mdl-layout__header mdl-layout__header--scroll">
    <div className="mdl-layout__header-row">
      <!-- Title -->
      <span className="mdl-layout-title">Title</span>
      <!-- Add spacer, to align navigation to the right -->
      <div className="mdl-layout-spacer"></div>
      <!-- Navigation -->
      <nav className="mdl-navigation">
        <a className="mdl-navigation__link" href="">Link</a>
        <a className="mdl-navigation__link" href="">Link</a>
        <a className="mdl-navigation__link" href="">Link</a>
        <a className="mdl-navigation__link" href="">Link</a>
      </nav>
    </div>
  </header>
  <div className="mdl-layout__drawer">
    <span className="mdl-layout-title">Title</span>
    <nav className="mdl-navigation">
      <a className="mdl-navigation__link" href="">Link</a>
      <a className="mdl-navigation__link" href="">Link</a>
      <a className="mdl-navigation__link" href="">Link</a>
      <a className="mdl-navigation__link" href="">Link</a>
    </nav>
  </div>
  <main className="mdl-layout__content">
    <div className="content-wrapper__main__fixed"><!-- Your content goes here --></div>
  </main>
</div>
